<div class="dialogRes">
  <form action="#" method="#" novalidate="" class="">
    <div class="card card-login">
      <div class="card-header text-center" data-background-color="rose">
        <h4 class="card-title">Login to Continue</h4>
        <div class="social-line">
          <a class="btn btn-just-icon btn-simple" href="#btn">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="btn btn-just-icon btn-simple" href="#pablo">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-just-icon btn-simple" href="#eugen">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
      <p class="category text-center mb-10">
        Or Be Classical
      </p>
      <div class="card-content">
        <div class="input-group">
          <span class="input-group-addon">
              <i class="material-icons">email</i>
          </span>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Email address</label>
            <input class="form-control" type="email">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
              <i class="material-icons">lock_outline</i>
          </span>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Password</label>
            <input class="form-control" type="password">
          </div>
        </div>
      </div>
      <div class="footer text-center">
        <button class="btn btn-rose btn-simple btn-wd btn-lg" type="submit">Log in</button>
      </div>
    </div>
  </form>
</div>

<!--<h1 mat-dialog-title>Sign in to continue</h1>-->

  <!--<mat-form-field>-->
    <!--<input matInput tabindex="1" placeholder="Email">-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
    <!--<input matInput tabindex="1" placeholder="Password" type="password">-->
  <!--</mat-form-field>-->
<!--<div mat-dialog-actions>-->
  <!--<a href="#" class="forgot-pass">Forgot Password?</a>-->
  <!--<button mat-button tabindex="2">Log in</button>-->
  <!--<span class="reg-text">Don't have and account? <a href="#">Register Now</a></span>-->
<!--</div>-->