<div class="sidebar-user">
  <nav>
    <ul>
      <li>
        <div class="text-center">
          <button type="button" class="btn btn-rose" (click)="fetchProducts()"  > Search <i class="material-icons">search</i></button>
        </div>
      </li>
      <li>
        <h5>Enter Zip Code</h5>
        <div class="form-group label-floating">
          <label class="control-label">Your Zip Code</label>
          <input  type="text" class="form-control" [(ngModel)]="zip_code" name="zipcode" >
        </div>
      </li>
      <li>
        <h5>Estimated Usage</h5>
        <mat-select placeholder="Usage" (ngModelChange)="check($event)" [(ngModel)]="eUsage" >
          <mat-option value="1000">1,001 - 2,000 kWh</mat-option>
          <mat-option value="2000">2,001 - 3,000 kWh</mat-option>
          <mat-option value="3000">3,001 - 4,000 kWh</mat-option>
        </mat-select>
      </li>
      <li>
        <h5>Custom Usage</h5>
        <div class="form-group label-floating">
          <label class="control-label">Add Custom Usage</label>
          <input type="text" class="form-control"[(ngModel)]="Custom_Usage" name="Custom_Usage">
        </div>
      </li>
      <li>
        <h5>Contract Length</h5>
        <mat-select placeholder="Usage" (ngModelChange)="check($event)" [(ngModel)]="months" >
            <mat-option value="3">3 Months</mat-option>
            <mat-option value="6">6 Months</mat-option>
            <mat-option value="12">12 Months</mat-option>
            <mat-option value="18">18 Months</mat-option>
            <mat-option value="24">24 Months</mat-option>
          <!-- <mat-option *ngFor="let x of usage" [value]="x.value">
            {{ x.viewValue }}
          </mat-option> -->
        </mat-select>
      </li>
      <li>
        <h5>Pricing and Billing</h5>
        <div class="radio">
          <label>
            <input type="radio" name="pricingbiling"  checked="true"  (ngModelChange)="check($event)"  >
            Show All Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pricingbiling" (ngModelChange)="check($event)">
            Plans without minimum usage Fee/Credits
          </label>
        </div>
      </li>
      <li>
        <h5>Plan Type</h5>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="planType_fixedRate"(ngModelChange)="check($event)">
            Fixed Rate
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="planType_variable"   (ngModelChange)="check($event)">
            Variable <small>(changing rate)</small>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="planType_Indexed"(ngModelChange)="check($event)">
            Indexed <small>(market rate)</small>
          </label>
        </div>
      </li>
      <li>
        <h5>Prepaid Plans</h5>
        <div class="radio">
          <label>
            <input type="radio" name="prepaidPlans" checked="true" (ngModelChange)="check($event)">
            Show All Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="prepaidPlans"(ngModelChange)="check($event)">
            Show only Prepaid Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="prepaidPlans"(ngModelChange)="check($event)">
            Do not show Prepaid Plans
          </label>
        </div>
      </li>
      <li>
        <h5>Time of Use Plans</h5>
        <div class="radio">
          <label>
            <input type="radio" name="timeOfUse" checked="true" (ngModelChange)="check($event)">
            Show All Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="timeOfUse"(ngModelChange)="check($event)">
            Show only Time Of Use Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="timeOfUse" (ngModelChange)="check($event)">
            Do not show Time Of Use Plans
          </label>
        </div>
      </li>
      <!-- <li>
        <h5>Ranging from</h5>
        <mat-slider thumbLabel min="0" max="100" step="5" value="0"></mat-slider>
      </li> -->
    </ul>
  </nav>
</div>
